<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Troposphere json generator</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>
 
 
<div class="container">
 
 
  <h2>Troposphere Json Generator</h2>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="vpc">VPC ID:</label>
      <input type="text" class="form-control" id="vpc" name="vpc" placeholder="Enter VPC ID?">
      <br>
      <label for="ec2_ami">AMI ID:</label>
      <input type="text" class="form-control" id="ec2_ami" name="ec2_ami" placeholder="EC2 AMI ID">
      <br>
      <label for="ec2_type">Type:</label>
      <input type="text" class="form-control" id="ec2_type" name="ec2_type" placeholder="Enter EC2 Instance type">
      <br>
      <label for="security_group">Security Group:</label>
      <input type="text" class="form-control" id="security_group" name="security_group" placeholder="Existing security group name">
      <br>
      <label for="key_pair">KeyPair Name:</label>
      <input type="text" class="form-control" id="key_pair" name="key_pair" placeholder="Existing SSH KeyPair name">
    </div>
    <button type="submit" class="btn btn-success">Generate Json</button>
  </form>
 
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 
</div>
<br>            
</div>
</div>
</body>
</html>
